/* 

OTAZKY: 
1) tlačítko šipky jde zmáčknout i v blízkém okolí šipky, kde ale šipka vidět není. Asi o nic nejde, ale není to moc profi, ne?
2) page3 tlačítka buttons-page3 mají mít podle figmy šířku 366px, iphone SE má šířku 375, takže je to zrovna tam skoro od kraje ke kraji..?
3) stránka tři je trochu na punk.. kdybych dávala tu část s partnery projektu podle figmy, tak se na menších desktopech překrývají s textem "přehrát video"


TO DO:
- dodelat hover sipek arrowBtn
- "přehrát video" má na hover poskočit, zkoušela jsem udělat hover s paddingem, ale skáče to i s pozadím, tak nevim, nápady vyčerpány
*/

/* Reset default browser margin & padding */
/* body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Inter, Helvetica, Arial, sans-serif;
  background-color: black;
}

ul {
  list-style: none;
} */

.logoDemagog {
  display: none;
  width: 98px;
  height: 30px;
  margin-top: 20px;
  margin-left: 25px;
}

.logoDemagogMobile {

  background-image: url(../../images/campaign/demagog-logo-mobile.svg);
  width: 98px;
  height: 30px;
  margin-top: 20px;
  margin-left: 25px;
}

.page {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hidden {
  display: none;
}

.page1 {
  background: url('../../images/campaign/obrazek-telka-small.png'), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page2 {
  background-image: url('../../images/campaign/obrazek-maska-small.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page3 {
  background-image: url('../../images/campaign/obrazek-sundana-maska-small.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headerOrange {
  color: #FFBF00;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.headerWhite {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.headerContainerPage1 {
  margin-top: 60vh;
  padding-left: 20px;
  padding-right: 5px;
}

.headerContainerPage2 {
  margin-top: 40vh;
}

.headerContainerPage3 {
  margin-top: 34vh;
}

.headerWhitePage2 {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.headerPage3 {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 12px;
  margin-top: 0px;
  text-shadow: #141313 2px 2px 50px;
}

.headerOrangePage3 {
  color: #FFBF00;
  font-weight: 900;
}

.textContainerPage2 {
  margin-left: 30px;
  margin-top: 29px;
}

.blurBgPage2 {
  position: relative;
  display: inline-block;
}

.blurBgPage2 img {
  position: relative;
  z-index: 1;
}

.blurBgPage2 p {
  position: relative;
  z-index: 1;
}

.blurBgPage2:before {
  top: 20px;
  right: 0;
  left: 20px;
  bottom: 20px;
  content: "";
  position: absolute;
  border-radius: 22px;
  background: rgba(0, 0, 0, 0.20);
  filter: blur(17.5px);
  backdrop-filter: blur(2px);
}

.textSection1Page2,
.textSection2Page2 {
  display: flex;
  align-items: center;
}

.textSection1Page2 {
  margin-bottom: 20px;
}

.textWhite {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  padding-left: 27px;
  padding-right: 23px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.textOrange {
  color: #FFBF00;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
}

.additionalInfo {
  color: #FFF;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 30px;
  padding-right: 23px;

}

/*nachystany blur pozadi page3 mobile. Kdyby se pouzil, je treba jeste upravit rozmery*/

/*.blur-bg {
  position: relative;
  display: inline-block;
}

.blur-bg p {
  position: relative;
  z-index: 1;
}

.blur-bg:before {
  content: "";
  position: absolute;
  border-radius: 22px;
  background: rgba(0, 0, 0, 0.20);
  filter: blur(17.5px);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}*/

.textPage3 {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  text-shadow: #141313 2px 2px 20px;
}

.textOrangePage3 {
  color: #FFBF00;
  font-weight: 800;
}

.linkOrange {
  color: #FFBF00;
  text-decoration: underline;
}

.listPage3 {
  display: flex;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  padding-right: 20px;
  margin-top: 0px;
  text-shadow: #141313 2px 2px 20px;
}

.liIcon,
.liText {
  display: inline;
  margin: 8px 0px;
}

.liIcon {
  margin-right: 10px;
}

.buttonsContainer1Page3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonsContainer2Page3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.buttonsPage3 {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  height: 38px;
  width: 100%;
  border-radius: 32.5px;
  background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(2px);
  border-color: white;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.btnTop {
  margin-bottom: 16px;
}

.videoContainerPage3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 13px;
}

.playVideoIconMobile {
  background-image: url('../../images/campaign/play-video-icon-mobile.svg');
  src: 'https://youtu.be/V9QM6XogqvU';
  width: 20px;
  height: 20px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.playVideoIconDesktop {
  display: none;
  background-image: url('../../images/campaign/play-video-icon-desktop.svg');
  width: 20px;
  height: 20px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.playVideoTextMobile {
  src: 'https://youtu.be/V9QM6XogqvU';
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-decoration-line: underline;
  cursor: pointer;
  margin: 0px;
  margin-left: 8px;
  background-color: inherit;
  border-style: none;
}

.playVideoText {
  display: none;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-decoration-line: underline;
  cursor: pointer;
  margin: 0px;
  margin-left: 8px;
  background-color: inherit;
  border-style: none;
}

.modal {
  display: none;
}

.close {
  color: #E5E7EB;
  position: absolute;
  top: -30px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.partnersP {
  color: #E5E7EB;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.partnersContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partnersContainer1Page1 {
  composes: partnersContainer1;
  margin-top: 56px;
}

.partnersContainer1Page2 {
  margin-top: 30px;
}

.partnersContainer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.partnersContainerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logoCedmo {
  width: 90px;
  height: 51px;
  margin-right: 33px;
}

.logoCt {
  width: 89px;
  height: 13px;
}

.arrowsContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowsContainer2 {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin-top: 23px;
  margin-bottom: 26px;
}

.arrowBtn {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  background-repeat: no-repeat;
  width: 34px;
  height: 25px;
}

.arrowFwdBtn {
  background-image: url('../../images/campaign/arrow-fwd-small.svg');
}

.arrowBackBtn {
  background-image: url('../../images/campaign/arrow-back-small.svg');
}

.arrowBtn svg {
  width: 15px;
  height: 24px;
}

.arrowVisible {
  visibility: visible;
}

.arrowHidden {
  visibility: hidden;
}

@media screen and (min-width: 992px) {
  .page1 {
    background-image: url('../../images/campaign/obrazek-telka-big.jpg');
  }

  .page2 {
    background-image: url('../../images/campaign/obrazek-maska-big.jpeg');
  }

  .page3 {
    background-image: url('../../images/campaign/obrazek-sundana-maska-big.jpeg');
  }

  .logoDemagog {
    display: inline;
    width: 183px;
    height: 55px;
    margin-top: 41px;
    margin-left: 96px;
  }

  .logoDemagogMobile {
    display: none;
  }

  .headerContainerPage1 {
    margin-top: 47vh;
    padding-left: 131px;
    text-shadow: #141313 2px 2px 50px;
  }

  .headerContainerPage2 {
    margin-top: 30vh;
  }

  .headerContainerPage3 {
    margin-top: 23vh;
  }

  .headerDezinformace {
    font-size: 96px;
    font-weight: 800;
    line-height: 125px;
    padding-left: 96px;
  }

  .header {
    font-size: 96px;
    line-height: 125px;
    padding-left: 96px;
    margin-top: 0px;
  }

  .headerOrange {
    font-size: 96px;
    font-weight: 800;
    line-height: 125px;
  }

  .headerWhite {
    font-size: 96px;
    line-height: 125px;
  }

  .headerWhitePage2 {
    font-size: 96px;
    line-height: 125px;
    margin-left: 141px;
    margin-right: 141px;
    padding-left: 0px;
    padding-right: 0px;
    text-shadow: #141313 2px 2px 50px;
  }

  .headerPage3 {
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 125px;
    padding-left: 171px;
    padding-right: 171px;
    margin-bottom: 28px;
  }

  .headerOrangePage3 {
    font-weight: 800;
  }

  .textContainerPage2 {
    margin-left: 141px;
    text-shadow: #141313 2px 2px 50px;
  }

  .textSection1Page2 {
    margin-bottom: 43px;
    margin-top: 48px;
    align-items: center;
  }

  .textSection2Page2 {
    align-items: center;
  }

  .textWhite {
    font-size: 30px;
    line-height: 40px;
    padding-right: 140px;
  }

  .textOrange {
    font-size: 30px;
    line-height: 40px;
  }

  .additionalInfo {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 12px;
    margin-left: 9px;
  }

  .textPage3 {
    font-size: 30px;
    line-height: 50px;
    max-width: 690px;
  }

  .textOrangePage3 {
    text-decoration-line: underline;
  }

  .listPage3 {
    font-size: 30px;
    line-height: 50px;
    max-width: 690px;
    padding-left: 20px;
  }

  .buttonsContainer2Page3 {
    flex-direction: row;
    align-items: flex-start;
    width: 88vw;
  }

  .buttonsPage3 {
    font-size: 20px;
    text-wrap: nowrap;
    padding: 0 10px;
  }

  .buttonsPage3:hover {
    background-color: #FFBF00;
    color: black;
    border-color: #FFBF00;
    transition: all .4s ease;
  }

  .btnTop {
    margin-bottom: 0px;
    margin-right: 42px;
  }

  .videoContainerPage3 {
    margin-top: 63px;
    margin-bottom: 63px;
    padding-top: 0px;
  }

  .playVideoIconMobile {
    display: none;
  }

  .playVideoIconDesktop {
    display: block;
    width: 29px;
    height: 29px;
    margin-right: 13.5px;
  }

  .playVideoTextMobile {
    display: none;
  }

  .playVideoText {
    display: block;
    font-size: 24px;
    margin-left: 13.5px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    width: 70%;
    height: 70%;
    background-color: black;
  }

  .modalVideo {
    width: 100%;
    height: 100%;
  }

  .playVideoText:hover {
    color: #FFBF00;
  }

  .arrowsContainer2 {
    position: absolute;
    width: 95%;
    justify-content: space-between;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .arrowsContainer1 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  .arrowFwdBtn {
    background-image: url(../../images/campaign/arrow-fwd-big.svg);
    width: 33px;
    height: 57px;
  }

  .arrowBackBtn {
    background-image: url(../../images/campaign/arrow-back-big.svg);
    width: 33px;
    height: 57px;
  }

  .arrowBtn {
    width: 33px;
    height: 57px;
  }

  .logoCt {
    width: 160px;
    height: 23px;
  }

  .partnersContainer1 {
    align-items: flex-end;
    padding-right: 73px;
    padding-bottom: 65px;
  }

  .partnersContainer1Page1 {
    margin-top: 47px;
  }

  .logoCedmo {
    width: 162px;
    height: 90px;
    margin-right: 57px;
  }

  .partnersP {
    font-size: 15px;
  }

  .blurBg {
    position: relative;
    display: inline-block;
    margin-left: 170px;
    margin-bottom: 50px;
    padding: 20px;
  }

  .blurBg p,
  .blurBg ul {
    position: relative;
    z-index: 1;
    padding: 0;
  }

  .blurBg:before {
    content: "";
    position: absolute;
    border-radius: 22px;
    background: rgba(0, 0, 0, 0.20);
    filter: blur(17.5px);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .blurBgPage2:before {
    top: 35px;
    right: 100px;
    left: 125px;
    bottom: 28px;
  }
}


@media screen and (min-width: 1390px) {
  .partnersContainer1Page3 {
    padding-bottom: 0px;
  }

  .videoContainerPage3 {
    margin-bottom: 115px;
  }

  .partnersContainer1Page3 {
    position: relative;
  }

  .partnersContainer2Page3 {
    position: absolute;
    bottom: 65px;
    right: 73px;
  }
}
