.container-promises-overview {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;

  .intro {
    .promises-logo {
      margin-bottom: 10px;
    }

    @media (max-width: 899.9px) {
      flex: 1 0 100%;

      .promises-logo {
        max-width: 80%;
      }
    }

    @media (min-width: 900px) {
      flex: 1 0 66.66666667%;
      margin-left: 16.66666667%;
      margin-right: 16.66666667%;
    }
  }

  .overall-stats {
    margin-top: 10px;
    flex: 1 0 66.66666667%;
    margin-left: 16.66666667%;
    margin-right: 16.66666667%;

    @media (max-width: 899.9px) {
      flex: 1 0 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .stats-lines-container {
      margin-top: 20px;

      .stats-line {
        display: flex;
        margin-bottom: 6px;

        .stats-line-amount {
          flex: 2 0 240px;

          .stats-line-amount-number {
            @extend .fs-5;

            margin-right: 2px;
          }
        }

        .stats-line-bar {
          flex: 3 0 240px;
          height: 26px;
          position: relative;
          background-color: #d7e5ef;
          border-radius: 3px;

          .stats-line-bar-inner {
            height: 100%;
            border-radius: 3px 0 0 3px;
          }

          &.fulfilled .stats-line-bar-inner {
            background-color: var(--true);
          }
          &.partially-fulfilled .stats-line-bar-inner,
          &.in-progress .stats-line-bar-inner {
            background-color: var(--unverifiable);
          }
          &.broken .stats-line-bar-inner {
            background-color: var(--untrue);
          }
          &.stalled .stats-line-bar-inner {
            background-color: var(--misleading);
          }

          .stats-line-bar-label {
            position: absolute;
            top: 4px;
            left: 7px;
            color: white;
            font-size: 90%;
          }
        }

        @media (max-width: 549.9px) {
          flex-wrap: wrap;

          .stats-line-amount {
            flex: 1 0 100%;
          }

          .stats-line-bar {
            flex: 1 0 100%;
            margin-top: 4px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .filters {
    flex: 1 0 66.66666667%;
    margin-top: 60px;
    margin-left: 16.66666667%;
    margin-right: 16.66666667%;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 899.9px) {
      flex: 1 0 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .area-filter,
    .evaluation-filter {
      margin-bottom: 30px;

      .filter-options-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;

        .filter-option-button {
          margin: 0 6px 6px 0;
          display: block;
          border: 1px solid #c5bce0;
          border-radius: 3px;
          color: var(--violet);

          &.active {
            background-color: #ffe0d6;
          }

          &:hover,
          &:active {
            text-decoration: none;
            border-color: var(--orange);
          }
        }
      }
    }

    .area-filter {
      flex: 1 0 265px;
      margin-right: 30px;

      .filter-options-list {
        .filter-option-button {
          padding: 7px 15px 9px;
        }
      }
    }

    .evaluation-filter {
      flex: 1 0 300px;

      .filter-options-list {
        .filter-option-button {
          padding: 9px 15px 7px;
        }
      }
    }

    .clear-filters {
      margin-left: 16px;
      white-space: nowrap;

      &.hidden {
        display: none;
      }
    }
  }

  .promises-list {
    flex: 1 0 100%;
    margin-top: 30px;

    .promises-list-table {
      width: 100%;
      border-collapse: collapse;

      thead th {
        border-bottom: 1px solid #d7e5fb;
        text-align: left;
        padding: 12px 15px;
        text-transform: uppercase;
        font-size: 70%;
        white-space: nowrap;
        font-weight: bold;
        color: var(--violet);
      }

      tbody tr.summary {
        td {
          padding: 12px 15px;
          border-bottom: 1px solid #d7e5fb;
          cursor: pointer;

          &.name-cell {
            font-weight: bold;
          }

          &.action-cell {
            white-space: nowrap;
            text-align: right;

            .collapse-link {
              display: none;
            }
          }

          label {
            display: none;
          }
        }

        &:hover td {
          background-color: #e7f0f6;
        }

        &.expanded {
          td {
            background-color: #d7e5ef;
          }

          &:hover td {
            background-color: #c6dae8;
          }

          td.action-cell {
            .collapse-link {
              display: block;
            }

            .expand-link {
              display: none;
            }
          }
        }
      }

      tbody tr.detail {
        td {
          padding: 0;

          .slide-animation-container {
            max-height: 0;
            transition: max-height 350ms linear 0s;
            overflow: hidden;
          }

          .space-taking-container {
            padding: 40px 15px 60px;
            box-sizing: border-box;
          }

          .hiding-container {
            display: none;
          }
        }

        &.expanded td {
          border-bottom: 1px solid #d7e5fb;

          .hiding-container {
            display: block;
          }
        }
      }

      @media (max-width: 599.9px) {
        border-top: 1px solid #d7e5fb;
        display: block;
        margin: 0 -15px;
        width: auto;

        thead {
          display: none;
        }

        tbody,
        tbody tr,
        tbody tr td {
          display: block;
        }

        tbody tr.summary {
          padding: 10px 15px 15px 15px;
          border-bottom: 1px solid #d7e5fb;

          td {
            padding: 5px 0;
            border-bottom: none;

            &.action-cell {
              text-align: left;
            }

            label {
              width: 100px;
              display: inline-block;
              text-align: left;
              text-transform: uppercase;
              font-size: 70%;
              font-weight: bold;
              color: #9a91b5;
            }
          }

          &:hover {
            background-color: #e7f0f6;
          }

          &.expanded {
            background-color: #d7e5ef;

            &:hover {
              background-color: #c6dae8;
            }
          }
        }

        tbody tr.detail.expanded td {
          .slide-animation-container {
            max-height: 800px;
          }

          .space-taking-container {
            height: 800px;
          }
        }
      }

      tbody tr.summary.hidden,
      tbody tr.detail.hidden {
        display: none;
      }
    }
  }

  .promise-detail {
    display: flex;
    align-items: flex-start;

    blockquote.content {
      flex: 2 2 200px;
      margin: 0 0 20px 0;

      border: 1px solid #cad9e6;
      border-radius: 5px;
      background-color: white;
      padding: 10px 15px 15px 15px;

      p {
        margin-bottom: 7px;
      }

      cite {
        text-align: right;
        color: #9a91b5;
        line-height: 1.25;

        a {
          color: #9a91b5;
          text-decoration: underline;

          &:hover {
            color: var(--orange);
          }
        }
      }
    }

    .assessment {
      flex: 3 3 300px;
      margin-left: 30px;
      align-items: flex-start;

      .permalink {
        display: inline-block;
        color: #aaa;
        margin-left: 10px;

        &::before {
          content: '';
          display: inline-block;
          background-repeat: no-repeat;
          background-image: image-url('share.svg');
          background-position: 50% 50%;
          background-size: contain;
          width: 32px;
          height: 16px;
          margin-bottom: -2px;
        }
      }

      .embed-button {
        display: inline-block;
        color: #aaa;
        margin: 0 0 0 15px;
        padding: 0;
        border: none;
        background: none;
        font-family: var(--font-family);
        font-size: var(--normal-typesize);
        cursor: pointer;

        &:hover,
        &:active {
          text-decoration: underline;
        }
      }

      .explanation-container {
        .short-explanation {
          margin-top: 7px;

          > p {
            margin-bottom: 5px;
          }
        }

        .toggle-full-explanation {
          .hide {
            display: none;
          }
        }

        .full-explanation {
          display: none;
          overflow-y: auto;
          max-height: 395px;
          margin-right: -10px;
          padding-right: 10px;
          margin-top: 7px;

          background:
            linear-gradient(var(--white) 30%, hsla(0, 0%, 100%, 0)),
            linear-gradient(hsla(0, 0%, 100%, 0) 10px, var(--white) 70%) bottom,
            radial-gradient(at top, rgba(0, 0, 0, 0.3), transparent 70%),
            radial-gradient(at bottom, rgba(0, 0, 0, 0.3), transparent 70%)
              bottom;
          background-repeat: no-repeat;
          background-size:
            100% 30px,
            100% 30px,
            100% 15px,
            100% 15px;
          background-attachment: local, local, scroll, scroll;

          * {
            line-height: 25px;
          }
        }

        &.full-explanation-only {
          .full-explanation {
            display: block;
            max-height: 495px;
          }
        }

        &.with-full-explanation {
          .toggle-full-explanation {
            .show {
              display: none;
            }
            .hide {
              display: inline;
            }
          }

          .full-explanation {
            display: block;
          }
        }
      }
    }

    @media (max-width: 899.9px) {
      flex-wrap: wrap;

      .content {
        flex: 1 0 100%;
      }

      .assessment {
        flex: 1 0 100%;
        margin-left: 0;

        .explanation-container {
          .full-explanation,
          &.full-explanation-only .full-explanation {
            max-height: 300px;
          }
        }
      }
    }
  }

  .credits {
    flex: 1 0 40%;
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 30%;
    margin-right: 30%;

    @media (max-width: 899.9px) {
      flex: 1 0 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .logo {
      img {
        width: 220px;
      }
    }
  }

  .embed-modal {
    display: none;
    &.is-open {
      display: block;
    }

    .embed-modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .embed-modal-container {
      background-color: #fff;
      padding: 20px;
      width: 650px;
      max-height: 100vh;
      overflow-y: auto;
      box-sizing: border-box;
    }

    .embed-modal-header {
      .embed-modal-title {
        margin: 0;
      }

      .close-button {
        float: right;
        border: none;
        background: none;
        padding: 0;
        margin: -7px 0 0 0;
        font-size: 34px;
        line-height: 1;
        cursor: pointer;
        color: #3c325c;
        outline: none;

        &:hover,
        &:active {
          color: #f26538;
        }
      }
    }

    .embed-modal-content {
      .embed-display-picker {
        margin-top: 20px;

        button {
          @extend .fs-8;

          border: 1px solid #c5bce0;
          border-radius: 3px;
          margin: 0;
          padding: 5px 10px;
          cursor: pointer;
          outline: none;
          color: #3c325c;
          font-family: Lato, sans-serif;

          &.active {
            background-color: #ffe0d6;
          }

          &:hover,
          &:active {
            border-color: #f26538;
          }
        }
      }

      .embed-code {
        @extend .fs-8;

        box-sizing: border-box;
        width: 100%;
        padding: 5px;
      }

      .embed-preview-container {
        max-width: 600px;
      }
    }
  }
}
