.container-promises-promise_embed {
  blockquote {
    border: 1px solid #D7E5FB;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 10px 15px 15px 15px;
    margin: 0;

    p {
      margin-bottom: 7px;
    }

    cite {
      text-align: right;
      color: #9a91b5;
      line-height: 1.25;

      a {
        color: #9a91b5;
        text-decoration: underline;

        &:hover {
          color: #f26538;
        }
      }
    }
  }

  .assessment {
    border: 1px solid #D7E5FB;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #f4f9fd;
    padding: 15px 15px 20px 15px;
    position: relative;

    .short-explanation {
      margin-top: 3px;

      p {
        margin-bottom: 7px;
      }
    }

    .logo {
      display: block;
      position: absolute;
      right: 15px;
      bottom: 15px;
      width: 110px;
    }
  }

  &.display-short {
    cursor: pointer;

    blockquote {
      p {
        margin-bottom: 0;
      }

      cite {
        display: none;
      }
    }

    .assessment {
      padding: 15px;

      .short-explanation {
        display: none;
      }

      .link {
        display: none;
      }

      .logo {
        bottom: 13px;
      }
    }

    &:hover {
      blockquote {
        border-top-color: #f26538;
        border-left-color: #f26538;
        border-right-color: #f26538;
      }

      .assessment {
        border-color: #f26538;
      }
    }
  }

  &.logo-hide {
    .assessment {
      .logo {
        display: none;
      }
    }
  }

  @media (max-width: 449.9px) {
    &.display-full.logo-show {
      .assessment .logo {
        margin-top: 15px;
        position: static;
      }
    }
  }
}
