@import '../mixins/rich_text';

.accordion-content,
.statement-detail {
  @include perex;
  @include unsafe-data-wrapper;

  figure figcaption {
    @include figcaption;
  }

  .radius-22px {
    border-radius: 22px;
  }

  .text-gray {
    color: #9b9b9b;
  }

  blockquote {
    margin: 0;
  }

  .quote-mark {
    font-size: 4rem;
    line-height: 1;
    font-family: '__Inter_7e0f30';
  }

  .quote + * {
    margin-top: 2.5rem !important;
  }

  .fw-semibold {
    font-weight: 600;
  }

  .mt-minus-10px {
    margin-top: -10px;
  }

  .symbol-size {
    width: 28px;
    height: 28px;
  }

  article {
    @extend .mt-6;
  }

  //Embedded single statement and single article item
  .content {
    .bg-lightgrey {
      background-color: #e5e7eb;
    }

    .underline-offset-2px {
      text-underline-offset: 2px;
    }

    .lh-110percent {
      line-height: 110% !important;
    }

    a {
      color: $dark;
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    @media (min-width: 768px) {
      .lh-md-base {
        line-height: 1.5;
      }
    }
  }

  .scroll-vertical {
    .content-text-node {
      p {
        @extend .mt-3;
      }

      h2,
      h3 {
        @extend .mt-6;
      }
    }

    .content {
      .margin-bottom {
        @extend .mb-2;
      }
    }
  }

  .content-text-node {
    h2 {
      @extend .mt-8, .fs-5, .fs-md-2;
      font-weight: 800;
    }

    h3 {
      @extend .mt-8, .fs-7, .fs-md-4;
      font-weight: 700;
    }

    p {
      @extend .mt-6, .fs-8, .fs-md-7;
    }

    figure.image,
    figure.embed {
      @extend .mt-6;
    }

    figure img {
      border-radius: 31px;
    }

    figure.image figcaption,
    figure.image figcaption a {
      @include figcaption;
    }

    .ck-editor_demagog-box-wrapper > :first-child {
      margin-top: 0 !important;
    }

    .ck-editor_demagog-box-wrapper {
      @extend .border, .border-dark, .mt-6;
      border-radius: 31px;
      padding: 20px 25px;
      text-align: start;

      h3,
      h2 {
        @extend .mt-0, .mb-3;
      }

      ul,
      ol {
        @extend .mb-0;

        li {
          @extend .li-item, .fs-8;
        }

        li.li-item:not(:last-child) {
          margin-bottom: 19px;
        }
      }
    }
    .ck-editor_demagog-box-wrapper.bg-grey {
      @extend .border-0, .bg-lightgrey;
    }
  }

  @media (min-width: 768px) {
    .lh-md-base {
      line-height: 1.5;
    }
    .content-text-node {
      .ck-editor_demagog-box-wrapper {
        margin-top: 40px;
        padding: 25px 30px;
        ul li,
        ol li {
          font-size: $h7-font-size !important;
        }
      }
    }
    .scroll-vertical .ck-editor_demagog-box-wrapper.float-right {
      width: 35%;
      max-width: 280px;
      float: right;
      padding: 20px 25px;
      margin: 30px 0px 30px 30px;
    }
  }

  @media (min-width: 992px) {
    .quote + * {
      margin-top: 5rem !important;
    }

    .quote-in-accordion.quote + * {
      margin-top: 2.5rem !important;
    }

    .quote-in-accordion.quote {
      margin-top: 2.5rem !important;
    }

    .quote-mark {
      font-size: 6rem;
    }

    .quote-in-accordion .quote-mark {
      font-size: 4rem;
    }

    .me-lg-30px {
      margin-right: 30px !important;
    }

    .symbol-size {
      width: 45px;
      height: 45px;
    }
    .ck-editor_demagog-box-wrapper.float-right {
      width: 35%;
      max-width: 280px;
      float: right;
      padding: 25px 29px;
      margin: 60px 0px 60px 60px;
    }

    .custom-lg-float {
      width: 35%;
      max-width: 280px;
      float: right;
      padding: 25px 29px;
      margin: 60px 0px 60px 60px;
    }
  }

  @media (min-width: 992px) and (max-width: 1400px) {
    .scroll-vertical .ck-editor_demagog-box-wrapper.float-right {
      float: none;
      width: auto;
      max-width: 100%;
      margin: 1.5rem 0;
    }

    //embedded statement in StatementFullExplanation
    //TODO remove important
    .scroll-vertical {
      .avatar > img {
        width: 60px;
        height: 60px;
      }
      .symbol.avatar {
        &.w-lg-90px,
        &.h-lg-90px {
          width: 60px !important;
          height: 60px !important;
        }
      }

      .custom-col-statement-content {
        &.col-9 {
          width: 70%;
        }
      }

      .custom-col-avatar {
        &.col-3 {
          width: 30%;
        }
      }

      .custom-gap {
        justify-content: space-between;
      }

      .custom-offset {
        margin-left: 30%;
      }

      .accordion-link,
      .accordion {
        padding-right: 1rem;
      }
    }
  }

  @media (min-width: 1400px) {
    .scroll-vertical {
      .custom-col-statement-content {
        &.col-xxl-10 {
          width: 70%;
        }
      }

      .custom-col-avatar {
        &.col-xxl-2 {
          width: 30%;
        }
      }
      .custom-gap {
        justify-content: space-between;
      }

      .custom-offset {
        &.offset-xxl-2 {
          margin-left: 30%;
        }
      }

      .custom-col-statement-assessment {
        &.col-xxl-10 {
          width: 70%;
        }
      }
    }
  }
}

.scroll-vertical {
  a {
    color: $dark;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.share-icon svg {
  width: 18px;
  height: 18px;
  fill: rgb(173, 181, 189);
  transition: fill 0.3s ease;
}

.share-icon.facebook:hover svg {
  fill: #0866ff;
}

.share-icon.x:hover svg {
  fill: #000000;
}

.link-icon {
  width: 18px;
  height: 18px;
  color: rgb(173, 181, 189);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.link-icon:hover {
  color: #25ad23;
}
