@import '../mixins/rich_text';

.statement-redesign {
  @include perex;

  p {
    font-size: $h8-font-size;
  }

  .h2 {
    font-size: $h2-font-size;
    font-weight: 800;
  }

  .h3 {
    font-size: 1rem;
    font-weight: 700;
  }

  .bg-lightgrey {
    background-color: #e5e7eb;
  }

  .radius-22px {
    border-radius: 22px;
  }

  a {
    color: $dark;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .rounded-4 {
    border-radius: 0.5rem;
  }

  .text-gray {
    color: #9b9b9b;
  }

  blockquote {
    margin: 0;
  }

  article {
    @extend .mt-6;
  }

  .content-text-node {
    h2 {
      @extend .mt-8;
    }

    h3 {
      @extend .mt-8, .mb-0;
    }

    p {
      @extend .mt-6, .mb-0;
    }

    figure.image,
    figure.embed {
      @extend .mt-6;
    }
  }

  @media (min-width: 768px) {
    p {
      font-size: 1rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: $h2-font-size;
    }
  }
}
