.container-shared-stats {
  @extend .fs-4;

  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    list-style: none;
    padding: 0 0.9em 0 0;

    @include veracity;
  }

  .none {
    color: #ddd !important;
  }

  .none::before {
    background-color: #ddd !important;
  }
}
