.container-homepage-homepage_donate_and_subscribe {
  h2 {
    margin: 0 0 12px;
  }

  .subscribe-to-newsletter-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .email-input {
      border: 1px solid var(--violet);
      margin: 0;
      padding: 0.5rem 0.9rem;
      font-size: var(--normal-typesize);
      font-family: var(--font-family);
      line-height: 1.4;
      color: var(--violet);
    }

    .submit-button {
      align-self: flex-start;
      font-size: var(--normal-typesize);
      font-family: var(--font-family);
      line-height: 1.4;
      color: var(--orange);
      background: none;
      border-radius: 0;
      border: 2px solid var(--orange);
      margin: 10px 0 0 0;
      padding: 0.4rem 0.9rem;
      cursor: pointer;

      &:hover,
      &:active {
        background-color: var(--orange);
        color: #ffffff;
      }
    }

    .accept-terms {
      @extend .fs-8;

      margin-top: 15px;
      line-height: 1.4;
    }
  }

  @media (min-width: 900px) {
    flex: 1 0 33.33333333%;
    margin-top: 3rem;
  }
}
