@mixin perex {
  font-size: $h7-font-size;
  line-height: 24px;
  text-align: start;
  font-weight: 500;

  @media (min-width: 768px) {
    .perex {
      font-size: $h4-font-size;
      line-height: 30px;
    }
  }
}

@mixin unsafe-data-wrapper {
  [data-ck-unsafe-element='script'] {
    display: none;
  }
}
@mixin figcaption {
  @extend .mt-1, .text-muted, .small;
}

@mixin social-share-buttons {
  .share-icon svg {
    width: 18px;
    height: 18px;
    fill: rgb(173, 181, 189);
    transition: fill 0.3s ease;
  }

  .share-icon.facebook:hover svg {
    fill: #0866ff;
  }

  .share-icon.x:hover svg,
  .share-icon.threads:hover svg {
    fill: #000000;
  }

  .share-icon.link-icon {
    width: 18px;
    height: 18px;
    color: rgb(173, 181, 189);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  .share-icon.link-icon:hover svg {
    fill: #25ad23;
  }
}

@mixin lists {
  ul,
  ol {
    @extend .mb-0, .mt-6;

    li {
      @extend .li-item, .fs-8;
    }

    li.li-item:not(:last-child) {
      margin-bottom: 19px;
    }
  }

  ol {
    padding-left: 1.5rem;
    list-style-position: outside;

    li {
      padding-left: 0.5rem;
      position: relative;
    }
  }
}

@mixin statement-tags {
  .separator::after {
    content: '|';
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #adb5bd;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline;
    display: inline;
  }
  .translate-up {
    transform: translateY(-1px);
  }
}

@mixin content-text-node-base {
  @include lists;

  h2 {
    @extend .mt-8, .fs-5, .fs-md-2;
    font-weight: 800;
  }

  h3 {
    @extend .mt-8, .fs-7, .fs-md-4;
    font-weight: 700;
  }

  p {
    @extend .mt-6, .fs-8, .fs-md-7;
  }

  figure.image,
  figure.embed {
    @extend .mt-6;
  }

  figure img {
    border-radius: 31px;
    height: auto;
  }

  figure.image figcaption,
  figure.image figcaption a {
    @include figcaption;
  }

  .ck-editor_demagog-box-wrapper {
    @extend .border, .border-dark, .mt-6;
    border-radius: 31px;
    padding: 20px 25px;
    text-align: start;

    > :first-child,
    > p:first-of-type {
      margin-top: 0 !important;
    }

    h3,
    h2 {
      @extend .mt-0, .mb-3;
    }

    ul,
    ol {
      @extend .mt-0;
    }

    &.bg-grey {
      @extend .border-0, .bg-lightgrey;
    }
  }
}
