*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollnav-bar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}
body {
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-base;
  color: $dark;
  background-color: $body-bg;
  width: 100%;
}

main {
  padding-top: 160px;

  a {
    color: $primary;
    text-decoration: none;
  }

  ul,
  ol {
    padding: 0 0 0 1rem;
  }

  img {
    position: relative;
    vertical-align: bottom;
    max-width: 100%;
  }
}

.content {
  p,
  h2 {
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.5rem !important;
    line-height: 1.5;
  }

  a {
    text-decoration: underline;
    color: $dark;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }

  img {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.dark-content {
  a {
    text-decoration: underline;
    color: $white;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}
.donate {
  iframe {
    width: 100% !important;
  }
}
@include media-breakpoint-down(xl) {
  main {
    padding-top: 110px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cookies {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;

  .cookies-wrap {
    pointer-events: auto;
  }
}

.separator {
  display: block;
  height: 1px;
  width: 100%;
}

.hide {
  display: none !important;
}

.popover-arrow {
  position: absolute;
}

.popover-arrow {
  &.arrow-north {
    left: 35px;
    top: -5px;
  }
  &.arrow-north-statement-item {
    left: 9px;
    top: -5px;
  }
  &.arrow-south {
    right: calc(50% - -10px);
    transform: rotate(-90deg);
    bottom: -9px;
  }
  &.arrow-east {
    left: -9px;
    top: 35px;
    transform: rotate(-90deg);
  }
  &.arrow-west {
    right: 11px;
    top: calc(50% - -10px);
    transform: rotate(-90deg);
  }
}
.popover-arrow:before {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-radius: 2px;
  content: '';
  background: $dark;
  border-radius: 2px;
}
.popover-arrow:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  left: auto;
  background: $dark;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-radius: 2px;
}

.pagination {
  span {
    text-transform: uppercase;
    color: $dark;

    &.current {
      font-weight: bold;
    }
  }

  a {
    padding: 0.5rem;
    color: $dark;
    text-decoration: none !important;
    &:hover {
      text-decoration: underline;
    }
  }

  .next {
    margin-left: 1rem;
  }
  .prev {
    margin-right: 1rem;
  }
}

@include media-breakpoint-down(md) {
  .pagination {
    span {
      // @include font-size(1rem);
    }

    .next {
      margin-left: 0.5rem;
    }
    .prev {
      margin-right: 0.5rem;
    }
  }
}

.column-2 {
  column-count: 2;
  column-gap: 40px;
}

@include media-breakpoint-down(lg) {
  .column-2 {
    column-count: 1;
  }
}
