.symbol {
  @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-up($breakpoint) {
          $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

          @each $name, $value in $symbol-sizes {
              @if ($name != 'default') {
                  &.symbol#{$infix}-#{$name} {
                      width: $value;
                      height: $value;
                  }
              }
          }
      }
  }
  > img {
      width: 100%;
      flex-shrink: 0;
      display: inline-block;
  }

  > svg {
    width: 100%;
    height: 100%;
  }

  &.symbol-circle {
    border-radius: 50%;
  }

  &.symbol-square {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

}

.symbol-label {
  position: absolute;
  bottom: -0.5rem;
  right:  -0.5rem;

  span {
    text-decoration: none;
  }

}

// Group
.symbol-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;

    .symbol {
        position: relative;
        z-index: 0;
        margin-left: -10px;
        border: 2px solid $body-bg;

        &:hover {
          z-index: 1;
        }
    }

    &.symbol-hover {
        .symbol {
            cursor: pointer;
        }
    }
}
