@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Admin comments */

  .admin-comment {
    p {
      @apply mt-2;
    }

    .highlight {
      @apply text-indigo-600;
    }
  }

  .admin-comment-input {
    min-height: 120px;

    .admin-comment-input-mention {
      @apply bg-indigo-100;
    }

    .admin-comment-input__highlighter {
      padding-top: 0.5rem;
      padding-right: 0.75rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
    }

    .admin-comment-input__input {
      @apply block w-full border-none resize-none text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:border-none focus:outline-0 sm:text-sm/6;
    }
  }

  /* CK Editor dialog styles */
  .ck-dialog .ck-list {
    @apply !mt-2 space-y-1;
  }

  .ck-dialog .ck-list li {
    @apply cursor-pointer px-1;
  }

  .ck-dialog .ck-list li:hover {
    background-color: #f5f5f5;
  }

  .ck-dialog .ck-button-action.ck-button-warning {
    @apply bg-red-700;
  }

  /* CK Editor content and admin article detail styles */
  .ck .ck-content,
  .article-content {
    .ck-editor_demagog-box-wrapper {
      @apply relative flex flex-col border-2 border-gray-200 rounded-3xl p-6 lg:px-8 mt-8;

      h3,
      h2 {
        @apply mt-0 mb-2;
      }

      h3 {
        @apply text-lg font-bold;
      }

      ul,
      ol {
        @apply mb-0 px-6 !mt-0 !space-y-0;
      }

      ul {
        @apply list-disc;
      }

      &.bg-grey {
        @apply bg-slate-200 border-none;
      }
    }
  }

  .article-content>div>p,
  .ck-content>p {
    @apply !mt-8 !text-gray-700 !leading-7 !text-base;
  }

  .ck-content p:first-child {
    @apply !mt-4;
  }

  .ck-content .admin-statement p {
    @apply !mt-0;
  }

  .article-content ul,
  .ck-content ul {
    @apply !mt-8 !max-w-xl !space-y-8 !text-gray-600 px-3;
  }

  .ck-content .statement {
    border: 1px solid red;
  }

  .article-content ul, .article-content ol {
    @apply !px-2;
  }

  .article-content .ul-summary li {
    list-style: outside;
  }

  .article-content .ul-summary ul {
    @apply !mt-3 !space-y-3;
  }

  .article-content,
  .ck-content {
    ul, ol {
      @apply !mt-8 !max-w-xl !space-y-4 !text-gray-600 px-3;
    }

    ul li {
      @apply list-disc;
    }

    ol li {
      @apply list-decimal;
    }

    h2 {
      @apply mt-16 text-2xl font-bold tracking-tight text-gray-900;
    }

    h3 {
      @apply mt-16 text-xl font-bold tracking-tight text-gray-900;
    }
  }

  .article-content figure,
  .ck-content figure {
    @apply !mt-8;
  }

  .article-content figure img,
  .ck-content figure img {
    @apply !aspect-video !rounded-xl !bg-gray-50 !object-cover;
  }

  .ck-content blockquote {
    @apply mt-8;
  }

  .article-content figcaption,
  .ck-content figcaption {
    @apply !mt-4 !flex !gap-x-2 !text-sm !leading-6 !text-gray-500;
  }

  .ck-content a,
  .article-content a {
    @apply underline;
  }

  .article-content figure img.avatar {
    @apply !rounded-full;
  }

  .article-content .articleItemH2 a {
    text-decoration: none !important;
  }

  .articleItemH2 {
    @apply !mt-0;
  }

  @media (min-width: 992px) {
    .custom-lg-float {
      width: 35%;
      max-width: 280px;
      float: right;
      padding: 25px 29px;
      margin: 60px 0px 60px 60px;
    }

    .article-content .ck-editor_demagog-box-wrapper.float-right,
    .ck-content .ck-editor_demagog-box-wrapper.float-right {
      width: 35%;
      max-width: 280px;
      float: right;
      padding: 25px 29px;
      margin: 32px 0px 32px 32px;
    }
  }

  /* Styling of admin page table */
  .admin-content-table {
    @apply min-w-full divide-y divide-gray-300;
  }

  .admin-content-table thead th {
    @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900;
  }

  .admin-content-table thead th:first-of-type {
    @apply py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8;
  }

  .admin-content-table thead th:last-of-type {
    @apply relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8 text-right;
  }

  .admin-content-table tbody {
    @apply divide-y divide-gray-200 bg-white;
  }

  .admin-content-table tbody td {
    @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500;
  }

  .admin-content-table tbody td:first-of-type {
    @apply py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 whitespace-normal;
  }

  .admin-content-table tbody td:last-of-type {
    @apply relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8;
  }

  /*CK Editor (rich text editor) overrides*/

  .ck-content .table {
    @apply ml-0;
  }
}
