@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .article-content > div > p,
  .ck-content > p {
    @apply !mt-8 !text-gray-700 !leading-7 !text-base;
  }

  .ck-content p:first-child {
    @apply !mt-4;
  }

  .ck-content .admin-statement p {
    @apply !mt-0;
  }

  .article-content ul,
  .ck-content ul {
    @apply !mt-8 !max-w-xl !space-y-8 !text-gray-600;
  }

  .ck-content .statement {
    border: 1px solid red;
  }

  .article-content ul li,
  .ck-content ul li {
    list-style: inside;
  }

  .article-content h2,
  .ck-content h2 {
    @apply mt-16 text-2xl font-bold tracking-tight text-gray-900;
  }

  .article-content figure,
  .ck-content figure {
    @apply !mt-8;
  }

  .article-content figure img,
  .ck-content figure img {
    @apply !aspect-video !rounded-xl !bg-gray-50 !object-cover;
  }

  .article-content figcaption,
  .ck-content figcaption {
    @apply !mt-4 !flex !gap-x-2 !text-sm !leading-6 !text-gray-500;
  }

  .ck-content a,
  .article-content a {
    @apply underline;
  }

  /* Styling of admin page table */
  .admin-content-table {
    @apply min-w-full divide-y divide-gray-300;
  }

  .admin-content-table thead th {
    @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900;
  }

  .admin-content-table thead th:first-of-type {
    @apply py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8;
  }

  .admin-content-table thead th:last-of-type {
    @apply relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8 text-right;
  }

  .admin-content-table tbody {
    @apply divide-y divide-gray-200 bg-white;
  }

  .admin-content-table tbody td {
    @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500;
  }

  .admin-content-table tbody td:first-of-type {
    @apply py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 whitespace-normal;
  }

  .admin-content-table tbody td:last-of-type {
    @apply relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8;
  }

  /*CK Editor (rich text editor) overrides*/

  .ck-content .table {
    @apply ml-0;
  }

  .ck-content h2 {
    margin: 15px 0 8px;
    font-size: 18px;
    font-weight: 700px;
  }
}
