$avatar-small: 60px;
$avatar-large: 85px;

.source-speaker-avatar {
  @extend .symbol, .symbol-circle;

  width: $avatar-small;
  height: $avatar-small;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    width: $avatar-large;
    height: $avatar-large;
  }
}
