.article-redesign {
  text-align: justify;

  .fs-16px {
    font-size: 16px;
  }

  .fw-medium {
    font-weight: 500;
  }

  .custom-ul {
    border-radius: 31px;
    padding: 25px 27px;
    text-align: start;
    margin-top: 39px;
  }

  li.li-item:not(:last-child) {
    margin-bottom: 19px;
  }

  .mt-39px {
    margin-top: 39px;
  }

  .mt-30px {
    margin-top: 30px;
  }

  .mt-minus-10px {
    margin-top: -10px;
  }

  .bg-lightgrey {
    background-color: #e5e7eb;
  }

  .quote-mark {
    font-size: 64px;
    line-height: 1;
  }

  .fw-semibold {
    font-weight: 600;
  }

  .quote + * {
    margin-top: 39px;
  }

  .symbol-size {
    width: 28px;
    height: 28px;
  }

  .radius-22px {
    border-radius: 22px;
  }

  @media (min-width: 576px) {
    .mt-sm-37px {
      margin-top: 2.3rem;
    }

    .mt-sm-56px {
      margin-top: 56px;
    }
  }

  @media (min-width: 768px) {
    .custom-ul {
      padding-left: 44px;
      padding-right: 44px;
    }

    .fs-md-18px {
      font-size: 18px;
    }

    .fs-md-20px {
      font-size: 20px;
    }

    .mt-md-40px {
      margin-top: 40px;
    }
  }

  @media (min-width: 992px) {
    .custom-lg-float {
      width: 35%;
      max-width: 280px;
      float: right;
      padding: 25px 29px;
      margin: 60px 0px 60px 60px;
    }

    .mt-lg-87px {
      margin-top: 87px;
    }

    .quote + * {
      margin-top: 87px;
    }

    .fs-lg-96px {
      font-size: 96px;
    }

    .fs-lg-24px {
      font-size: 24px;
    }

    .me-lg-30px {
      margin-right: 30px !important;
    }

    .symbol-size {
      width: 45px;
      height: 45px;
    }
  }
  .content-redesign {
    .underline-offset-2px {
      text-underline-offset: 2px;
    }

    .fs-12px {
      font-size: 12px;
    }

    .lh-110percent {
      line-height: 110%;
    }

    .content-text-node {
      p {
        margin-top: 15px;
        font-size: 14px;
      }

      h2 {
        font-size: 20px;
        font-weight: 800px;
        margin-top: 30px;
      }

      h3 {
        font-size: 18px;
        font-weight: 700;
        margin-top: 30px;
      }

      .ck-editor_demagog-box-wrapper {
        @extend .border, .border-dark;
        border-radius: 31px;
        padding: 25px 27px;
        text-align: start;
        margin-top: 30px;

        h3,
        h2 {
          @extend .mt-0;
        }

        ul,
        ol {
          @extend .mb-0, .mt-3;

          li {
            @extend .li-item;
            font-size: 14px;
          }

          li.li-item:not(:last-child) {
            margin-bottom: 19px;
          }
        }
      }
    }

    @media (min-width: 768px) {
      .fs-md-14px {
        font-size: 14px;
      }

      .fs-md-26px {
        font-size: 26px;
      }

      .lh-md-base {
        line-height: 1.5;
      }

      .mt-md-56px {
        margin-top: 56px;
      }

      .content-text-node {
        p {
          font-size: 16px;
          margin-top: 20px;
        }
        h2 {
          font-size: 32px;
          margin-top: 40px;
        }

        h3 {
          margin-top: 40px;
        }

        .ck-editor_demagog-box-wrapper {
          margin-top: 40px;
          padding: 25px 45px;
          ul li,
          ol li {
            font-size: 16px;
          }
        }
      }
    }
  }
}

//Embedded single statement and single article item
.content {
  .underline-offset-2px {
    text-underline-offset: 2px;
  }

  .fs-16px {
    font-size: 16px !important;
  }

  .fs-12px {
    font-size: 12px;
  }

  .lh-110percent {
    line-height: 110% !important;
  }

  @media (min-width: 768px) {
    .fs-14px {
      font-size: 14px;
    }

    .fs-26px {
      font-size: 26px !important;
    }

    .lh-md-base {
      line-height: 1.5;
    }
  }
}
