.article-redesign {
  text-align: justify;

  .custom-ul {
    border-radius: 31px;
    padding: 25px 27px;
    text-align: start;
    margin-top: 39px;
  }

  li.li-item:not(:last-child) {
    margin-bottom: 19px;
  }

  .mt-39 {
    margin-top: 39px;
  }

  .mt-29 {
    margin-top: 29px;
  }

  .mt-minus-10 {
    margin-top: -10px;
  }

  .bg-lightgrey {
    background-color: #e5e7eb;
  }

  .quote-mark {
    font-size: 64px;
    line-height: 1;
  }

  .fw-semibold {
    font-weight: 600;
  }

  .quote + * {
    margin-top: 39px;
  }

  .symbol-size {
    width: 28px;
    height: 28px;
  }

  @media (min-width: 576px) {
    .mt-sm-37 {
      margin-top: 2.3rem;
    }

    .mt-sm-56 {
      margin-top: 56px;
    }
  }

  @media (min-width: 768px) {
    .custom-ul {
      padding-left: 44px;
      padding-right: 44px;
    }
  }

  @media (min-width: 992px) {
    .custom-lg-float {
      width: 35%;
      max-width: 280px;
      float: right;
      padding: 25px 29px;
      margin: 60px 0px 60px 60px;
    }

    .mt-lg-87 {
      margin-top: 87px;
    }

    .mt-lg-39 {
      margin-top: 39px;
    }

    .quote + * {
      margin-top: 87px;
    }

    .fs-lg-96 {
      font-size: 96px;
    }

    .fs-lg-24 {
      font-size: 24px;
    }

    .me-lg-30 {
      margin-right: 30px !important;
    }

    .symbol-size {
      width: 45px;
      height: 45px;
    }
  }
}
