@import '../mixins/rich_text';

.article-redesign {
  @include perex;

  .text-align-start {
    text-align: start;
  }

  a {
    color: $dark;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .custom-list {
    border-radius: 31px;
    padding: 25px 27px;
    text-align: start;
  }

  li.li-item:not(:last-child) {
    margin-bottom: 19px;
  }

  figure.image,
  figure.embed {
    @extend .mt-6;
  }

  figure img {
    border-radius: 31px;
  }

  .mt-minus-10px {
    margin-top: -10px;
  }

  .bg-lightgrey {
    background-color: #e5e7eb;
  }

  .quote-mark {
    font-size: 4rem;
    line-height: 1;
  }

  .fw-semibold {
    font-weight: 600;
  }

  .quote + * {
    margin-top: 2.5rem;
  }

  .symbol-size {
    width: 28px;
    height: 28px;
  }

  .radius-22px {
    border-radius: 22px;
  }

  @media (min-width: 768px) {
    .custom-list {
      padding-left: 44px;
      padding-right: 44px;
    }

    .text-md-justify {
      text-align: justify;
    }
  }

  @media (min-width: 992px) {
    .ck-editor_demagog-box-wrapper.float-right {
      width: 35%;
      max-width: 280px;
      float: right;
      padding: 25px 29px;
      margin: 60px 0px 60px 60px;
    }

    .custom-lg-float {
      width: 35%;
      max-width: 280px;
      float: right;
      padding: 25px 29px;
      margin: 60px 0px 60px 60px;
    }

    .quote + * {
      margin-top: 5rem;
    }

    .quote-mark {
      font-size: 6rem;
    }

    .me-lg-30px {
      margin-right: 30px !important;
    }

    .symbol-size {
      width: 45px;
      height: 45px;
    }
  }

  .content-redesign {
    .underline-offset-2px {
      text-underline-offset: 2px;
    }

    .lh-110percent {
      line-height: 110%;
    }

    .content-text-node {
      p {
        @extend .mt-6, .fs-7;
      }

      h2 {
        @extend .mt-8;
        font-size: $h4-font-size;
        font-weight: 800;
      }

      h3 {
        @extend .mt-8;
        font-size: $h5-font-size;
        font-weight: 700;
      }

      .ck-editor_demagog-box-wrapper > p:first-of-type {
        margin-top: 0 !important;
      }

      .ck-editor_demagog-box-wrapper {
        @extend .border, .border-dark, .mt-6;
        border-radius: 31px;
        padding: 20px 25px;
        text-align: start;

        h3 {
          font-size: 1.125rem;
        }

        h2 {
          font-size: $h2-font-size;
        }

        h3,
        h2 {
          @extend .mt-0, .mb-3;
        }

        ul,
        ol {
          @extend .mb-0;

          li {
            @extend .li-item, .fs-7;
          }

          li.li-item:not(:last-child) {
            margin-bottom: 19px;
          }
        }
      }
      .ck-editor_demagog-box-wrapper.bg-grey {
        @extend .border-0, .bg-lightgrey;
      }
    }

    @media (min-width: 768px) {
      .lh-md-base {
        line-height: 1.5;
      }

      .content-text-node {
        p {
          // FIXME: Remove this once we have fs- for 1rem
          font-size: 1rem !important;
        }

        h2 {
          font-size: 32px;
        }

        h3 {
          font-size: $h2-font-size;
        }

        .ck-editor_demagog-box-wrapper {
          margin-top: 40px;
          padding: 25px 30px;
          ul li,
          ol li {
            font-size: 16px;
          }
        }
      }
    }
  }
}

//Embedded single statement and single article item
.content {
  .underline-offset-2px {
    text-underline-offset: 2px;
  }

  .lh-110percent {
    line-height: 110% !important;
  }

  @media (min-width: 768px) {
    .lh-md-base {
      line-height: 1.5;
    }
  }
}
