// Responsive font-sizes

// Needs to be defined before the responsive font-sizes
.fs-12px {
  font-size: 12px;
}

.fs-16px {
  font-size: 16px;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .fs#{$infix}-2 {
      font-size: $h2-font-size;
    }

    .fs#{$infix}-5 {
      font-size: $h5-font-size;
    }

    .fs#{$infix}-7 {
      font-size: $h7-font-size;
    }

    .fs#{$infix}-8 {
      font-size: $h8-font-size;
    }
  }
}
